<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Публикаций</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Страница Публикаций</h1>
    <div class="card mb-3">
        <img src="static/main/image/bb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">«Простота и практичность»</h5>
          <p class="card-text">Вторая домашняя мастерская принадлежит этому бородатому мужчине, его зовут Бретт Керн (Brett Kern), проживает в Питтсбурге
             и в основном сосредоточен
             на создании забавных «надувных» игрушек. Интерес
             к такому направлению пробудила юношеская страсть к коллекционированию и работа за гончарным кругом.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">«Простота и практичность»</h5>
          <p class="card-text">Его студия тоже находится в доме, пусть не такая светлая и горных пейзажей нельзя увидеть,
             но смотрится достаточно уютно. Это своего рода настоящая мужская территория, напоминающая большинство американских гаражных мастерских.
              Скорее всего, Бретт не стал уделять большое внимание обустройству и отделке потому, что при создании работ
               заливает формы, в результате помещение быстро загрязняется.
             Данное решение позволит сэкономить средства, которые можно потратить на материалы.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="static/main/image/aa.jpg" class="card-img-bottom" alt="...">
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html> 